Package: us.Anemone-Fonts.ExampleAnemoneFont
Name: Example Anemone Font
Version: 1.0
Architecture: iphoneos-arm
Description: This is an Example Anemone Font package
Depends: com.anemonetheming.anemone (>=1.1-348)
Maintainer: Michael Woolweaver <AnemoneFonts@gmail.com>
Author: Michael Woolweaver <AnemoneFonts@gmail.com>
Section: Fonts (iOS X.x Anemone)
Depiction: https://anemone-fonts.mwoolweaver.us/Example_Anemone_Font/dep/Example_Depiction/index.html
